@import "/src/variable.css";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: var(--clay-red);
  position: sticky;
  top: 0;
  z-index: 4000;
}

header > h1 {
  line-height: 50%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.level-button {
  width: 150px;
  height: 50px;
  background-color: var(--dark-purple);
  border-radius: 30px;
  border: 0.5px solid whitesmoke;
  font-size: 1.3rem;
  color: var(--light-purple);
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: transform 0.2s ease-in-out;
}

.level-button:hover {
  transform: scale(1.05);
}
