@import "./variable.css";

@import "/src/components/Card/card.css";
@import "/src/components/Footer/footer.css";
@import "/src/components/Header/header.css";
@import "/src/components/Navbar/navbar.css";

#root {
  background: var(--light-blue)
}

.main-section {
  display: flex;
  min-height: 80vh;
  height: 100%;
   background-image: linear-gradient(
    -45deg,
    var(--light-blue),
    var(--lighter-blue),
    var(--medium-blue),
    var(--medium-blue-two),
    var(--dark-blue),
    var(--darker-blue)
  );
}

.main-section > h1 {
  margin: auto;
}

.all-cards {
  display: grid;
  grid-template: auto auto / repeat(4, 1fr);
  gap: 20px;
  margin: auto;
}
