@import "./variable.css";

:root {
  font-family: "Sunflower", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a, button {
  font-family: "Sunflower", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 0.5;
}
