:root {
  --light-blue: #A6B1E1;
  --light-purple: #DCD6F7;
  --clay-red: #ab5b87;
  --red: #985F6F;
  --dark-purple: #2c294b;

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* for gradient */
  --lighter-blue: #bec6e6;
  --medium-blue: #8998d9;
  --medium-blue-two: #7989d0;
  --dark-blue: #6579d5;
  --darker-blue: #5368c6;
}
